/* Layout. */
.paragraph-component.container-fluid {
  --bs-gutter-x: 0;
}

.paragraph--type--kdcl-hero {
  position: relative;
  min-height: 320px;
  width: 100%;
}

.paragraph--type--kdcl-hero .paragraph--type--kdcl-hero__background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}



/* Make the image fill the container. */
.paragraph--type--kdcl-hero .paragraph--type--kdcl-hero__background img,
.paragraph--type--kdcl-hero .paragraph--type--kdcl-hero__background picture {
  height: auto;
  width: 100%;
}

/* Image specific padding. */
.paragraph--background__image {
  padding-top: 80px;
  padding-bottom: 80px;
}

.paragraph--type--kdcl-hero.paragraph--background__image .paragraph--type--kdcl-hero__background {
  margin-top: -80px;
}

/* Video specific padding. */
.paragraph--background__video {
  padding-top: 120px;
  padding-bottom: 120px;
}

.paragraph--type--kdcl-hero.paragraph--background__image .paragraph--type--kdcl-hero__background {
  margin-top: -120px;
}

/* Raise up the content area. */
.paragraph--type--kdcl-hero  .paragraph--type--kdcl-hero__content {
  z-index: 1;
  position: relative;
}

/* Invert. */
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) h1,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) h2,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) h3,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) h4,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) h5,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) h6,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) p,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) ul,
.paragraph--type--kdcl-hero:not(.paragraph--overlay--invert) blockquote {
  color: #fff;
}

.paragraph--overlay--invert h1,
.paragraph--overlay--invert h2,
.paragraph--overlay--invert h3,
.paragraph--overlay--invert h4,
.paragraph--overlay--invert h5,
.paragraph--overlay--invert h6,
.paragraph--overlay--invert p,
.paragraph--overlay--invert ul,
.paragraph--overlay--invert blockquote {
  color: #111;
}

/* Overlay. */
[data-overlay] .paragraph--type--kdcl-hero__content {
  padding: 20px;
}

[data-overlay] .paragraph--type--kdcl-hero__content::before {
  background: #252525 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[data-overlay] .paragraph--type--kdcl-hero__content * {
  position: relative;
  z-index: 2;
}

.paragraph--overlay__invert[data-overlay] .paragraph--type--kdcl-hero__content::before {
  background: #fff none repeat scroll 0 0;
}

[data-overlay="1"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.1;
}

[data-overlay="2"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.2;
}

[data-overlay="3"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.3;
}

[data-overlay="4"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.4;
}

[data-overlay="5"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.5;
}

[data-overlay="6"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.6;
}

[data-overlay="7"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.7;
}

[data-overlay="8"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.8;
}

[data-overlay="9"] .paragraph--type--kdcl-hero__content::before {
  opacity: 0.9;
}

/* Zoom animation. */
@keyframes ken-burns {
  0% {
    transform: scale3d(1,1,1);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2)
  }
}

/* Zoom. */
.paragraph--zoom {
  overflow: hidden;
}

.paragraph--zoom .paragraph--type--kdcl-hero__background * {
  animation: ken-burns 15s ease alternate infinite;
}

.paragraph--zoom--1 .paragraph--type--kdcl-hero__background * {
  animation-duration: 10s;
}

.paragraph--zoom--2 .paragraph--type--kdcl-hero__background * {
  animation-duration: 20s;
}

.paragraph--zoom--3 .paragraph--type--kdcl-hero__background * {
  animation-duration: 30s;
}

.paragraph--zoom--4 .paragraph--type--kdcl-hero__background * {
  animation-duration: 40s;
}

.paragraph--zoom--5 .paragraph--type--kdcl-hero__background * {
  animation-duration: 50s;
}

.paragraph--zoom--6 .paragraph--type--kdcl-hero__background * {
  animation-duration: 60s;
}

/* Turn off Zoom for those that prefer reduced motion. */
@media (prefers-reduced-motion: reduce) {
  .paragraph--zoom .paragraph--type--kdcl-hero__background *,
  .paragraph--zoom--1 .paragraph--type--kdcl-hero__background *,
  .paragraph--zoom--2 .paragraph--type--kdcl-hero__background *,
  .paragraph--zoom--3 .paragraph--type--kdcl-hero__background *,
  .paragraph--zoom--4 .paragraph--type--kdcl-hero__background *,
  .paragraph--zoom--5 .paragraph--type--kdcl-hero__background *,
  .paragraph--zoom--6 .paragraph--type--kdcl-hero__background * {
    animation: none;
  }
}
